{% extends 'base.html' %}

{% block content %}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Mail Text</th>
        <th>Created At</th>
        <th>Views</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for mail in mails %}
      <tr>
        <td>{{ mail.text }}</td>
        <td>{{ mail.created_at }}</td>
        <td>{{ mail.views }}</td>
     
        <td>
          <a href="{% url 'mail_detail' mail.pk %}" class="btn btn-primary btn-sm">Read more</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block styles %}
<style>
  .container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .table {
    width: 80%;
    border-collapse: separate;
    border-spacing: 0 10px;
  }

  .table td {
    padding: 10px;
  }

  .table th {
    font-weight: bold;
    padding: 10px;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
</style>
{% endblock %}
